.fruits{
    border:cornflowerblue 10px dotted;
    background-color: #6ce06c;
    text-align: center;
    margin: 20px;
    padding: 10px;
}
#school{
     border:cornflowerblue 10px dotted;
    background-color: #6ce06c;
    text-align: center;
    margin: 20px;
    padding: 10px;

}